In [1]:
import sqlite3
import pandas as pd

# Load datasets from CSV files
# Scraping file
dba_df = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\Scraped DBA Data\cleaned_dba_data.csv', parse_dates=['Day'])

# StatBank datasets
statbank_bicycle_counts = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\StatBank Data\Cleaned_Data_of_bicycles.csv', parse_dates=['TID'])
statbank_motor_vehicles = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\StatBank Data\Cleaned_Data_of_Motor_Vechicles.csv', parse_dates=['TID'])
statbank_motor_vehicle_registrations = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\StatBank Data\Cleaned_Data_of_Vechile_Registration.csv', parse_dates=['TID'])
statbank_emissions = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\StatBank Data\Cleaned_Data_of_Cars_Emissions.csv', parse_dates=['TID'])

# ITC Trade Map datasets
itc_bicycles_imports = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\ITC Imports Exports Data\Bicycles Imports By Denmark.csv')
itc_bicycles_exports = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\ITC Imports Exports Data\Bicycles Exports By Denmark.csv')
itc_motor_vehicals_imports_value = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\ITC Imports Exports Data\Motor Cars Imports By Denmark.csv')
itc_motor_vehicals_exports_value = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\ITC Imports Exports Data\Motor Cars Exports By Denmark.csv')

C:\Users\mnai0\AppData\Local\Temp\ipykernel_29476\3925790145.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  statbank_motor_vehicle_registrations = pd.read_csv(r'C:\Users\mnai0\Desktop\Smester 8\Data Science\StatBank Data\Cleaned_Data_of_Vechile_Registration.csv', parse_dates=['TID'])

In [2]:
print(dba_df)

                                                 Title     Price  \
0                                  EL - Bicycle unisex  1160.000
1    BMC TIME MACHINE TM01 TRIATHLON racing bike, t...  1957.500
2    EL Bike Batavus Genova EGO COMFORT. Aar 2020 5...   579.855
3                     Christiania bike let with 7 gear  1449.275
4    Trek.Men's bike, men's bike, frame 57 cm, fram...   224.750
..                                                 ...       ...
519                                       Nishiki bike   232.000
520                              Really good cube bike   565.500
521                         Mustang men's bike is sold   217.500
522       Quality electric bicycle, only slightly used  1305.000
523                           Retro bike from Peugeot!   870.000

          Location          Time Posted Seller Type Bike Type        Day
0             Køge  2025-04-08 00:00:00     Private      city 2025-04-08
1          Kolding  2025-04-12 02:20:24     Private    racing 2025-04-12
2         Aabenraa  2025-04-12 01:28:24     Private  electric 2025-04-12
3            Valby  2025-04-12 00:28:24     Private     cargo 2025-04-12
4         Hvidovre  2025-04-12 00:28:24     Private      city 2025-04-12
..             ...                  ...         ...       ...        ...
519  Frederiksberg  2025-04-09 02:28:24     Private      city 2025-04-09
520         Søborg  2025-04-09 02:28:24     Private      city 2025-04-09
521     Copenhagen  2025-04-08 00:00:00     Private      city 2025-04-08
522  Frederiksberg  2025-04-08 00:00:00     Private  electric 2025-04-08
523         Søborg  2025-04-08 00:00:00     Private      city 2025-04-08

[524 rows x 7 columns]

In [3]:
# Connect to SQLite database (creates 'cycling_market.db' if it doesn’t exist)
conn = sqlite3.connect('cycling_market.db')

# Function to create tables and insert data
def create_table_and_insert_data(df, table_name):
    df.to_sql(table_name, conn, if_exists='replace', index=False)

# Store datasets into the database
create_table_and_insert_data(dba_df, 'dba_listings')
create_table_and_insert_data(statbank_bicycle_counts, 'statbank_bicycle_counts')
create_table_and_insert_data(statbank_motor_vehicles, 'statbank_motor_vehicles')
create_table_and_insert_data(statbank_motor_vehicle_registrations, 'statbank_motor_vehicle_registrations')
create_table_and_insert_data(statbank_emissions, 'statbank_emissions')
create_table_and_insert_data(itc_bicycles_imports, 'itc_bicycles_imports')
create_table_and_insert_data(itc_bicycles_exports, 'itc_bicycles_exports')
create_table_and_insert_data(itc_motor_vehicals_imports_value, 'itc_motor_vehicals_imports_value')
create_table_and_insert_data(itc_motor_vehicals_exports_value, 'itc_motor_vehicals_exports_value')

# Close the connection
conn.close()

In [4]:
# Reconnect to the database
conn = sqlite3.connect('cycling_market.db')

# Query the first 5 rows of dba_listings
query = "SELECT * FROM dba_listings LIMIT 5;"
result = pd.read_sql_query(query, conn)
print(result)

# Close the connection
conn.close()

                                               Title     Price  Location  \
0                                EL - Bicycle unisex  1160.000      Køge
1  BMC TIME MACHINE TM01 TRIATHLON racing bike, t...  1957.500   Kolding
2  EL Bike Batavus Genova EGO COMFORT. Aar 2020 5...   579.855  Aabenraa
3                   Christiania bike let with 7 gear  1449.275     Valby
4  Trek.Men's bike, men's bike, frame 57 cm, fram...   224.750  Hvidovre

           Time Posted Seller Type Bike Type                  Day
0  2025-04-08 00:00:00     Private      city  2025-04-08 00:00:00
1  2025-04-12 02:20:24     Private    racing  2025-04-12 00:00:00
2  2025-04-12 01:28:24     Private  electric  2025-04-12 00:00:00
3  2025-04-12 00:28:24     Private     cargo  2025-04-12 00:00:00
4  2025-04-12 00:28:24     Private      city  2025-04-12 00:00:00